<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>level</string>
		<key>title</key>
		<string>等级</string>
		<key>item</key>
		<array>
			<string>小型车</string>
			<string>微型车</string>
			<string>紧凑型车</string>
			<string>中型车</string>
			<string>中大型车</string>
			<string>大型车</string>
			<string>跑车</string>
			<string>MPV</string>
			<string>SUV</string>
			<string>微面</string>
			<string>微卡</string>
			<string>轻客</string>
			<string>皮卡</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>country</string>
		<key>title</key>
		<string>国别</string>
		<key>item</key>
		<array>
			<string>中国</string>
			<string>德国</string>
			<string>日本</string>
			<string>美国</string>
			<string>韩国</string>
			<string>法国</string>
			<string>英国</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>transmission</string>
		<key>title</key>
		<string>变速箱</string>
		<key>item</key>
		<array>
			<string>手动</string>
			<string>自动</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>fuel</string>
		<key>title</key>
		<string>燃料</string>
		<key>item</key>
		<array>
			<string>汽油</string>
			<string>柴油</string>
			<string>油电混合</string>
			<string>纯电动</string>
			<string>插电式混动</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>output</string>
		<key>title</key>
		<string>排量</string>
		<key>item</key>
		<array>
			<string>1.0以下</string>
			<string>1.1-1.6L</string>
			<string>1.7-2.0L</string>
			<string>2.1-2.5L</string>
			<string>2.6-3.0L</string>
			<string>3.1-4.0L</string>
			<string>4.0L以上</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>seat</string>
		<key>title</key>
		<string>座位数</string>
		<key>item</key>
		<array>
			<string>2座</string>
			<string>4座</string>
			<string>5座</string>
			<string>6座</string>
			<string>7座</string>
			<string>7座以上</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>produce</string>
		<key>title</key>
		<string>生产方式</string>
		<key>item</key>
		<array>
			<string>国产</string>
			<string>进口</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>drive</string>
		<key>title</key>
		<string>驱动</string>
		<key>item</key>
		<array>
			<string>前驱</string>
			<string>后驱</string>
			<string>四驱</string>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>structure</string>
		<key>title</key>
		<string>结构</string>
		<key>item</key>
		<array>
			<string>两厢</string>
			<string>三厢</string>
			<string>掀背</string>
			<string>旅行版</string>
			<string>硬顶敞篷车</string>
			<string>硬顶跑车</string>
			<string>软顶敞篷车</string>
			<string>硬顶跑车</string>
			<string>客车</string>
			<string>货车</string>
		</array>
	</dict>
</array>
</plist>
